
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.search-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.search-input,
.category-select {
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 24px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: box-shadow .2s, border-color .2s;
}

.search-input {
  width: 60%;
  max-width: 600px;
}

.category-select {
  min-width: 200px;
  cursor: pointer;
  background-color: #fff;
}

.search-input:focus,
.category-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0,123,255,0.25);
}


.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 20px 40px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.product-card p {
  margin: 4px 0 12px;
  font-size: 14px;
  color: #333;
}

.product-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
}
.cart-btn {
  margin-top: auto;       
  align-self: center;     
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background: #28a745;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  
}
.cart-btn:hover {
  background: #1e7e34;
}